@model LoginModel
@{
    Layout = "_layoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

<div id="loadingOverlay" class="overlay">
    <div class="loader"></div>
    <div class="loading-text">Carregando...</div>
</div>

<div id="login" class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="login well well-small">
                <form class="login-form" id="UserLoginForm" asp-controller="Login" asp-action="Entrar" method="post" novalidate>
                    <div class="control-group">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            <input id="UserUsername" asp-for="Login" type="text" class="form-control" placeholder="Usuário" autofocus required>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            <input id="UserPassword" asp-for="Senha" type="password" class="form-control caps-lock-warning" value="" placeholder="Senha" autofocus required>
                        </div>
                        <div id="capsLockWarning" class="text-danger"></div>
                    </div>
                    <div class="text-center fs-6">
                        <a asp-action="RedefinirSenha" asp-controller="Login">Esqueceu a senha?</a> ou <a asp-action="CriarNovoUsuarioDeslogado" asp-controller="CriarNovoUsuario">Crie uma Conta!</a>
                    </div>
                    <div class="control-group">
                        <p class="submit"><input type="submit" name="commit" value="Login"></p>
                    </div>
                </form>
            </div><!--/.login-->
        </div><!--/.span12-->
    </div><!--/.row-fluid-->
</div><!--/.container-->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var loadingOverlay = document.getElementById("loadingOverlay");
        var UserLoginForm = document.getElementById("UserLoginForm");
        var passwordInput = document.getElementById("UserPassword");
        var capsLockWarning = document.getElementById("capsLockWarning");

        function mostrarLoading() {
            loadingOverlay.style.display = "block";
        }

        function ocultarLoading() {
            loadingOverlay.style.display = "none";
        }

        UserLoginForm.addEventListener("submit", function (e) {
            e.preventDefault();
            mostrarLoading();

            setTimeout(function () {
                UserLoginForm.submit();
            }, 1000);
        });

        passwordInput.addEventListener("keydown", function (e) {
            var capsLockEnabled = e.getModifierState && e.getModifierState("CapsLock");

            if (capsLockEnabled) {
                passwordInput.classList.add("caps-lock-enabled");
                capsLockWarning.innerHTML = "Caps Lock está ativado!";
            } else {
                passwordInput.classList.remove("caps-lock-enabled");
                capsLockWarning.innerHTML = "";
            }
        });
    });
</script>
