@using ProvaPortal.Models.Enum;
@model ProvaModel

@if (Model.StatusDaProva == StatusDaProva.Deletado)
{
    <h3 class="display-7 text-center">A prova será excluída definitivamente. Deseja excluir <b>@Model.NomeArquivo</b>?</h3>
}
else
{
    <h3 class="display-7 text-center">Deseja excluir a prova? <b>@Model.NomeArquivo</b>?</h3>
}

<form method="post" asp-controller="Provas" asp-action="DeletarProvaAdministrador" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger btn-block">Confirmar</button>
    <a asp-controller="Provas" asp-action="VisualizarTodasProvas" class="btn btn-primary">Cancelar</a>
</form>