@model ProvaModel

@{
    ViewData["Title"] = "Enviar Prova";
}

<h2>Enviar Prova</h2>

<p>Último Acesso: @DateTime.Now</p>

<form id="enviarArquivoForm" method="post" enctype="multipart/form-data">
    <input type="file" id="inputArquivo" accept=".pdf" name="arquivo" required />
    <input type="number" id="nrCopias" name="nrCopias" placeholder="Nr de Cópias" required />
    <input type="submit" value="Enviar Arquivo" id="btnEnviar" />
</form>

@if (Model != null && !string.IsNullOrEmpty(Model.NomeArquivo) && Model.DataEnvio != null)
{
    <p>Arquivo Enviado: @Model.NomeArquivo</p>
    <p>Data de Envio: @Model.DataEnvio</p>
}

<script>
    // Verifica se o botão de envio foi clicado.
    var isSubmitted = false;

    // Desabilita o botão de seleção de arquivo após o envio.
    document.getElementById("enviarArquivoForm").addEventListener("submit", function () {
        if (isSubmitted) {
            // Se já foi enviado, desabilita o botão de seleção de arquivo.
            document.getElementById("inputArquivo").disabled = true;
            document.getElementById("btnEnviar").disabled = true;
        } else {
            // Se ainda não foi enviado, marque a variável isSubmitted como verdadeira.
            isSubmitted = true;
        }
    });
</script>
