@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        window.print(); // Isso acionará o diálogo de impressão ao abrir a página
    </script>
</head>
<body>
</body>
</html>
