html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*___________________________________________________________________*/

/*-----IMAGENS DOS BOTOES-------*/

.Adc-Usuario::before {
    content: url('/Content/add-user.png');
}

.btnDetalhes::before {
    content: url('/Content/Info-user.png')
}

.btnEditar::before {
    content: url('/Content/edit-user.png')
}

.btnReverse::before {
    content: url('/Content/reverse.png')
}

.btnDeletar::before {
    content: url('/Content/recycle-bin.png')
}
.btnMoverParaDeletadas::before {
    content: url('/Content/recycle-bin.png')
}

.Adc-Contato::before {
    content: url('/Content/add-user.png');
}

.btnImprimir::before {
    content: url('/Content/Imprimir.png')
}

.btnReimprimir::before {
    content: url('/Content/Reimprimir.png')
}

.btnDeletarAdmin::before {
    content: url('/Content/recycle-bin.png')
}

.btnNotificada::before{
    content: url('/Content/notificacao.png')
}

#ComboPerfil::before {
    width: 1110px;
    height: 40px;
}

#keypassword::before {
    content: "\1F511";
}

#usericon::before {
    content: "\1F464";
}



#error_capslock {
    border: 1px solid #FFFF66;
    background-color: #FFFFCC;
    display: inline-block;
    margin-left: 0px;
    padding: 3px;
    display: none;
}



/*----------------------------CARREGAMENTO - LOADING-------------------------------*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    text-align: center;
    color: #fff;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    margin-top: 20%;
}

.loading-text {
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*-------------------------COR STATUS--------------------------------*/
.status-azul {
    color: blue;
}

.status-vermelho {
    color: red;
}

.status-verde {
    color: green;
}
/*----------------Piscar Tabela Restaurados-------------------------*/
.restored-row {
    animation: blink 3s infinite;
}

@keyframes blink {
    50% {
        background-color: #FFFF00;
    }
}
/*----------------Nova Modal--------------------*/
